html {
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
#header{
    position: fixed;
    height: 50px;
    background-color: #F5F5F5;
    line-height: 50px;
    width: 100%;
    box-sizing: border-box;
}

#nav-list{
    text-align: center;
    background-color: #F5F5F5;
    height: 30px;
    line-height: 30px;
    margin-top: 60px;
}
#nav-list li{
    display: inline;
    padding: 0px 10px;
    border-right: 2px solid #000;
    font-weight: bolder;
}
#nav-list li:last-child{
    border: none;
}
#side-item{
    margin: 0px 15px;
}
#side{
    display: flex;
    flex-direction: column;
    background-color: #F5F5F5;
    padding: 12px 0px;
    align-items: center;    
}
#content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#main-content{
    flex-basis: 2;
    display: flex;
    flex-direction: column;
}
.title-video{
    font-weight: bolder;
}
p{
    margin: 8px 0px;
}
#main-content-desc{
    width: 700px;
}
#footer{
    text-align: center;
    font-weight: bolder;
}
.border{
    border-radius: 3px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    font-size: 17px;
    color: red;
    font-weight:lighter;
}
@media (max-width: 800px) {
    #header{
        position: fixed;
        height: 50px;
        background-color: #F5F5F5;
        line-height: 50px;
        top: 0px; bottom: 0px; right: 20px; left: 9px;
    }
    #main-content{
        display:none;
        visibility: hidden;
    }
    #nav-list{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 9px;
        height: 100%;
        align-items: center;
        text-align: center;
        background-color: #fff;
    }
    #nav-list li{
        display: none;
    }
  }